
blockquote {
	background-color: rgba(0, 0, 0, .12);
	padding: 8px;
}

a {
	color: darkred;
	text-decoration: none;
}
h1+p::first-letter 
	{
		float: left;
		color: darkred;
		border: 3px ridge darkgoldenrod;
		padding: 16px;
		background-color: gold;
		margin: 8px;
	}
	blockquote::before{
		color: blueviolet;
		content: open-quote;
		font-size: 2rem;
	}
	blockquote::after{
		color: blueviolet;
		content: close-quote;
		font-size: 2rem;
	}
	a {
		color: brown;
		text-decoration: none;
		
	}
	a:hover, a:focus{
		color: darkgreen;
	}
	a:visited{
		color: slateblue;
	}

